{
  "compras_abril": [
    "caixa de som --> con 63",
    "7 processadores i3",
    "1 - MONITOR AOC LED 21.5 --> cod: 12531",
    "4 - GABINETE ATX COM FONTE --> cod: 4613",
    "4 - PLACA MAE GIGABYTE --> cod: 20019",
    "4 - SSD 240GB KINGSTON --> cod: 12401",
    "2 - HEADSET GAMER TGT --> cod: 25036",
    "1 - TONER PRETO --> cod: 18272",
    "1 - TONER AMARELO --> Cod: 18150",
    "1 cartucho robo --> cod: 12122",
    "roupas"
  ],
  "compras_abril_modificado": "27/03/2025 23:12:44"
}
